@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}

body {
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    width: 100%;
    height: 100%;
    max-width: 177.78dvh;
    max-height: 56.25vw;
    background-color: rgb(164, 211, 238);
    image-rendering: pixelated;
    display: block;
}

#gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;

    background: rgba(0, 0, 0, 0.85);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 10;
}

.hidden {
    display: none;
}

#gameOverScreen button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

